In [1]:
import pandas as pd
import numpy as np
from sklearn import datasets

In [10]:
data = datasets.load_diabetes(as_frame=True)
y = data.target
X = data.data

In [11]:
X = (X - X.mean(axis=0)) / X.std(axis=0)
y = (y - y.mean()) / y.std()

In [12]:
df = pd.concat([y, X], axis=1)

In [13]:
df

,target,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,-0.014703,0.799594,1.064282,1.295620,0.459319,-0.928693,-0.731236,-0.911418,-0.054438,0.418077,-0.370569
1,-1.000525,-0.039522,-0.937474,-1.080955,-0.552885,-0.177423,-0.402430,1.562643,-0.829361,-1.434925,-1.936285
2,-0.144416,1.791277,1.064282,0.933475,-0.119083,-0.957588,-0.718084,-0.679475,-0.054438,0.060139,-0.544537
3,0.698721,-1.870322,-0.937474,-0.243495,-0.769785,0.256002,0.524802,-0.756789,0.720486,0.476532,-0.196600
4,-0.222244,0.113044,-0.937474,-0.764079,0.459319,0.082632,0.327519,0.170984,-0.054438,-0.671820,-0.979458
...,...,...,...,...,...,...,...,...,...,...,...
437,0.335524,0.875877,1.064282,0.412892,1.254623,-0.119633,-0.053896,-0.602160,-0.054438,0.655053,0.151337
438,-0.624356,-0.115806,1.064282,-0.334032,-1.420488,1.036167,1.662471,-0.602160,0.720486,-0.380484,0.934195
439,-0.261158,0.875877,1.064282,-0.334032,0.362919,-0.784218,-0.290636,-0.524846,-0.232670,-0.984469,0.325305
440,0.880320,-0.954922,-0.937474,0.820305,0.025518,0.342687,0.320943,-0.602160,0.557752,0.935096,-0.544537
441,-1.234009,-0.954922,-0.937474,-1.533636,-1.709689,1.758542,0.583988,3.650131,-0.829361,-0.088617,0.064353