In [2]:
import pandas as pd
import numpy as np

In [33]:
df = pd.read_csv('data/banana_data.csv', header=None)
df.loc(axis=1)[0] = df.loc(axis=1)[0].astype(int)
df.loc(axis=1)[0] = df.loc(axis=1)[0].replace(-1, 0)
df

      0         1         2
0     0 -3.089839 -0.831686
1     0 -2.980834 -0.159575
2     0 -2.836057 -0.177081
3     0 -2.767849  0.096217
4     0 -2.600350  0.216772
...  ..       ...       ...
5295  1  2.679078  1.171037
5296  1  2.689126  1.117468
5297  1  2.710314  1.346598
5298  1  2.754447  1.471953
5299  1  2.813360  1.301667

[5300 rows x 3 columns]